body{
  background-color: yellow;
  color:#000000;
}
h4{
  text-align: center;
  padding: 10px 0;
}
.espacio{
  height: 15px;
}
p{
  text-align: justify;
}
.imagenes{
  width:100%;
  height:auto;
}
footer{
  background-color: #007bff;
  color:#000000;
}
h1{
  text-align: center;
  padding: 15px;
}
